<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body background="https://images2.alphacoders.com/261/26102.jpg" >
 
    
    <body ></body>

    <font color=white>

    <table border="2"><h2><center>Editar Registro</center><h2>

    </table>
    <br>
    </font>
    <center>

      <div class="container">
  <% data.forEach(function(details) { %>
    
    <form class="form-group cadastro" action="/edit/<%= details._id %>" method="POST">
      <input class="form-control" type="text" placeholder="Nome do livro" value="<%= details.nomedolivro %>" name="nomedolivro"style='width: 400px'><br>
      <input class="form-control" type="text" placeholder="Nome da editora" value="<%= details.nomedaeditora %>" name="nome da editora"style='width: 400px'><br>
      <input class="form-control" type="text" placeholder="Nome da autor" value="<%= details.nomedoautor %>" name="nome da autor"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Numero do volume" value="<%= details.numerodovolume %>" name="numero do volume"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Numero de paginas" value="<%= details.numerodepaginas %>" name="numero de paginas"style='width: 400px'><br>
      <input class="form-control" type="date" placeholder="Data de lançamento" value="<%= details.datadelançamento %>" name="data de lançamento"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Numero da edição " value="<%= details.numerodaedição %>" name="numero da edição"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Codigo do livro" value="<%= details.codigodolivro %>" name="codigo do livro"style='width: 400px'><br>
      
      <button class="btn btn-success" type="submit"style='width: 400px'>Confirmar</button>
      <br><br>
      <a href="/show"class="btn btn-danger"style='width: 400px'>Cancelar</a>
      <br>
      <br>

      <a href="/"class="btn btn-dark"style='width: 400px'>Novo Cadastro</a>
      <br>
      <br>
    </center>
    </div>
    </form>
  <% }) %>
 
</body>
</html>

