<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.nomedolivro %>" name="Nome do livro"><br>
      <input type="text" value="<%= details.nomedaeditora %>" name="Nome da editora"><br>
      <input type="text" value="<%= details.nomedoautor %>" name="nomedaeditora"><br>
      <input type="text" value="<%= details.numerodovolume %>" name="nomedaeditora"><br>
      <input type="text" value="<%= details.numerodepaginas %>" name="nomedaeditora"><br>
      <input type="text" value="<%= details.datadelançamento %>" name="nomedaeditora"><br>
      <input type="text" value="<%= details.numerodaedição %>" name="nomedaeditora"><br>
      <input type="text" value="<%= details.codigodolivro %>" name="nomedaeditora"><br>
      



      <br />
      <button><a href="/show">Todos</a></button>
      <button type="submit">Editar</button>
      <button><a href="/show">Cancelar</a></button>
    </form>
  <% }) %>
 
</body>
</html>