<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Tela de Edição</title>
  
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<body background="https://c.wallhere.com/photos/26/cf/library_interior_interior_design_books_knowledge_shelves-72435.jpg!d" >
    <body ></body>

<nav class="navbar navbar-expand-lg navbar-blue bg-dark">
  
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          
<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu  Livro
              </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/">Cadastro</a>
              <a class="dropdown-item" href="/show">Lista</a>
            
</div>
</li>
</ul>
    
<div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            
<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu  Cliente
                </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/cadastrarcliente">Cadastro</a>
                <a class="dropdown-item" href="/show2">Lista</a>
              
</div>
</li>
</ul>
    
    
</div>
</nav>

    <font color=white>

    <table border="2"><h2><center>Editar Registro do Cliente</center><h2>

    </table>
    <br>
    </font>
    <center>

<div class="container">
  <% data.forEach(function(details) { %>
    
      <form class="form-group cadastro" action="/edit2/<%= details._id %>" method="POST">
      <input class="form-control" type="text"   placeholder="Nome"                 value="<%= details.nome %>"           name="nome"style='width: 400px'><br>
      <input class="form-control" type="text"   placeholder="Sobrenome"            value="<%= details.sobrenome %>"      name="sobrenome"style='width: 400px'><br>
      <input class="form-control" type="number"   placeholder="CPF"                  value="<%= details.cpf %>"            name="cpf"style='width: 400px'><br>
      <input class="form-control" type="date"   placeholder="Data de Nascimento"   value="<%= details.datanascimento %>" name="datanascimento"style='width: 400px'><br>
      <input class="form-control" type="email"  placeholder="Email"                value="<%= details.email %>"          name="email"style='width: 400px'><br>
      <input class="form-control" type="text"   placeholder="Pais"                 value="<%= details.pais %>"           name="pais"style='width: 400px'><br>
      <input class="form-control" type="text"   placeholder="Estado"               value="<%= details.estado %>"         name="estado"style='width: 400px'><br>
      <input class="form-control" type="text" placeholder="Cidade"                 value="<%= details.cidade %>"         name="cidade"style='width: 400px'><br>
      <input class="form-control" type="text" placeholder="Rua"                    value="<%= details.rua %>"            name="rua"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Numero da casa"       value="<%= details.numerocasa %>"     name="numerocasa"style='width: 400px'><br>
      <input class="form-control" type="number" placeholder="Numero para contato"  value="<%= details.numerocontato %>"  name="numerocontato"style='width: 400px'><br>
      
      <a href="/show2"class="btn btn-danger"style='width: 200px'>Cancelar</a>

      <button class="btn btn-success" type="submit"style='width: 200px'>Confirmar</button>
    
      
      <br>
      <br>

</center>
</div>
</form>
  <% }) %>
 
</body>
</html>

