<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>My CRUD in NodeJS</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<body background="https://c.wallhere.com/photos/26/cf/library_interior_interior_design_books_knowledge_shelves-72435.jpg!d"></body> 
 <!-- Bootstrap CSS -->
    
 
 <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Livro
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/">Cadastro</a>
              <a class="dropdown-item" href="/show">Lista</a>
            
            </div>
          </li>
        </ul>
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cliente
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/cadastrarcliente">Cadastro</a>
                <a class="dropdown-item" href="/show2">Lista</a>
              
              </div>
            </li>
          </ul>
    
    
      </div>
    </nav>








  <font color=white>  
  <h2> <center>Registros de Clientes</center>
  </h2>
  </font> 
  <center> 
    <div >
    <table class="table table-dark">
  </center> 
    <thead>
  <tr>
         <td><center> Nome</center></td><br>
            <td><center>Sobrenome</center> </td> 
             <td><center>Cpf</center> </td>
             <td><center>Data de Nascimento</center> </td>
             <td><center>Email</center> </td>
             <td><center>Pais</center> </td>
             <td><center>Estado</center> </td>
             <td><center>Cidade</center> </td>
             <td><center>Rua</center> </td>
             <td><center>Numero da casa</center> </td>
             <td><center>Numero para contato</center> </td>
            <td><center>Configurações</center>
            </td>
          
           
        </tr> 
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
       <tr> 
            <td><center><%= details.nome %></center></td>
            <td><center><%= details.sobrenome %></center></td>
            <td><center><%= details.cpf %></center></td>
            <td><center><%= details.datanascimento %></center></td>
            <td><center><%= details.email %></center></td>
            <td><center><%= details.pais%></center></td>
            <td><center><%= details.estado %></center></td>
            <td><center><%= details.cidade %></center></td>
            <td><center><%= details.rua %></center></td>
            <td><center><%= details.numerocasa %></center></td>
             <td><center><%= details.numerocontato %></center></td>
            
            
            <td><a href="/edit2/<%= details._id %>">Editar</a> - <a href="/delete2/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table><br>

  <a href="/cadastrarcliente"class="btn btn-dark" style= 'margin-top:-50px'>Novo Cadastro de Cliente</a>
</div>
</body>
</html>